<?xml version="1.0" encoding="utf-8"?>
<Content Key="3de388ec-7e35-45db-a592-7e79d7c781e4" Alias="Aaron" Level="3">
  <Info>
    <Parent Key="7ab933b1-2915-4907-9640-841675af2ac7">About</Parent>
    <Path>/OfficialWebsiteHome/About/Aaron</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCards</ContentType>
    <CreateDate>2024-09-26T12:16:19</CreateDate>
    <NodeName Default="Aaron" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertCardDescription>
      <Value><![CDATA[Business Specialist At Onatrix]]></Value>
    </expertCardDescription>
    <expertCardImage>
      <Value><![CDATA[[
  {
    "key": "23950f44-17a1-4a2e-b96e-0039d56b274f",
    "mediaKey": "c9396201-220a-44b1-b0d6-d75933f67d8b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertCardImage>
    <expertCardTitle>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </expertCardTitle>
  </Properties>
</Content>