<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ab933b1-2915-4907-9640-841675af2ac7" Alias="About" Level="2">
  <Info>
    <Parent Key="e1beedaf-3687-44a7-b068-29c31438e66e">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-09-24T11:54:33</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d2cfcfae-8154-4852-becc-30ae238714bc">aboutPage</Template>
  </Info>
  <Properties>
    <founderDescription>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </founderDescription>
    <founderImage>
      <Value><![CDATA[[
  {
    "key": "63542451-67af-473f-812d-454b436efa39",
    "mediaKey": "650563e9-2460-412c-941e-648d05af2702",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </founderImage>
    <founderParagraph>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </founderParagraph>
    <founderTextColumn1>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </founderTextColumn1>
    <founderTextColumn2>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.
]]></Value>
    </founderTextColumn2>
    <founderTextColumn3>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </founderTextColumn3>
    <founderTextColumn4>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </founderTextColumn4>
    <founderTextColumn5>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </founderTextColumn5>
    <founderTextColumn6>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </founderTextColumn6>
    <founderTextColumn7>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </founderTextColumn7>
    <ourExpertsHeadline>
      <Value><![CDATA[OUR EXPERTS]]></Value>
    </ourExpertsHeadline>
    <ourExpertsTitle>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </ourExpertsTitle>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <reviewsHeadline>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </reviewsHeadline>
    <reviewsImage>
      <Value><![CDATA[[
  {
    "key": "bf5dd996-5486-4e75-816d-becf2882f6da",
    "mediaKey": "2c4ed262-2e1b-4280-a67a-08260ee9c6e8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewsImage>
    <reviewsName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </reviewsName>
    <reviewsParagraph>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </reviewsParagraph>
    <reviewsTitle>
      <Value><![CDATA[Trusted By Some Of The Biggest Names]]></Value>
    </reviewsTitle>
    <reviewsWorkplace>
      <Value><![CDATA[Swedbank]]></Value>
    </reviewsWorkplace>
  </Properties>
</Content>