<?xml version="1.0" encoding="utf-8"?>
<Content Key="49ccbaab-e996-4c75-ac96-8aa9cdd06792" Alias="AJCarter" Level="3">
  <Info>
    <Parent Key="7ab933b1-2915-4907-9640-841675af2ac7">About</Parent>
    <Path>/OfficialWebsiteHome/About/AJCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCards</ContentType>
    <CreateDate>2024-09-26T12:15:38</CreateDate>
    <NodeName Default="AJCarter" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertCardDescription>
      <Value><![CDATA[Financial Advisor At Onatrix]]></Value>
    </expertCardDescription>
    <expertCardImage>
      <Value><![CDATA[[
  {
    "key": "d345d242-1579-4b89-8764-88b3d1e2ba53",
    "mediaKey": "6f753abe-2546-461a-b7c9-3ce79cdc47b9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertCardImage>
    <expertCardTitle>
      <Value><![CDATA[AJ Carter]]></Value>
    </expertCardTitle>
  </Properties>
</Content>