<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc0e058e-5c71-4b4c-a92c-e4f8eeddd618" Alias="breadcrumb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/breadcrumb</Path>
    <Trashed>false</Trashed>
    <ContentType>breadcrumb</ContentType>
    <CreateDate>2024-09-25T16:35:09</CreateDate>
    <NodeName Default="breadcrumb" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <breadcrumbImageLeft>
      <Value><![CDATA[[
  {
    "key": "a91671b4-71f3-458b-ad03-88d3ab76825d",
    "mediaKey": "80f5b1b8-820b-4d4e-8b3f-b8f511efec87",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbImageLeft>
    <breadcrumbImageRight>
      <Value><![CDATA[[
  {
    "key": "58477880-986a-4e93-a693-8bd9e0812805",
    "mediaKey": "2c33cbaf-8420-47cc-a3af-efcd382b6ace",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </breadcrumbImageRight>
  </Properties>
</Content>