<?xml version="1.0" encoding="utf-8"?>
<Content Key="7bdc779f-9ca4-4636-839f-4418e4b82659" Alias="Kevin" Level="3">
  <Info>
    <Parent Key="7ab933b1-2915-4907-9640-841675af2ac7">About</Parent>
    <Path>/OfficialWebsiteHome/About/Kevin</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCards</ContentType>
    <CreateDate>2024-09-26T12:18:57</CreateDate>
    <NodeName Default="Kevin" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertCardDescription>
      <Value><![CDATA[Banking Advisor At Swedbank]]></Value>
    </expertCardDescription>
    <expertCardImage>
      <Value><![CDATA[[
  {
    "key": "a3a18892-9c15-4eb5-b91f-dd977c62eb89",
    "mediaKey": "82e31873-9f8d-46ed-be53-4d57afbe8749",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertCardImage>
    <expertCardTitle>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </expertCardTitle>
  </Properties>
</Content>