<?xml version="1.0" encoding="utf-8"?>
<Content Key="0385b60e-3f58-4b9a-b29c-93777e0ca097" Alias="Miranda" Level="3">
  <Info>
    <Parent Key="7ab933b1-2915-4907-9640-841675af2ac7">About</Parent>
    <Path>/OfficialWebsiteHome/About/Miranda</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCards</ContentType>
    <CreateDate>2024-09-26T12:18:22</CreateDate>
    <NodeName Default="Miranda" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertCardDescription>
      <Value><![CDATA[Head Of HR At Onatrix]]></Value>
    </expertCardDescription>
    <expertCardImage>
      <Value><![CDATA[[
  {
    "key": "fb063572-f126-4910-9966-7d5d93984fcc",
    "mediaKey": "0246960e-ab69-45c5-9ae7-891396ec70e7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertCardImage>
    <expertCardTitle>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </expertCardTitle>
  </Properties>
</Content>