<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1beedaf-3687-44a7-b068-29c31438e66e" Alias="Official Website - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialWebsiteHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-09-19T12:14:09</CreateDate>
    <NodeName Default="Official Website - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0efae78d-2613-40f8-b706-77ad84696b31">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "36f6ef40-51d4-4a8e-aaf7-70947c892257",
    "mediaKey": "daf1aadd-5780-4f7b-bbf6-095a9bb3b57a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "e6d3708c-56b4-4192-9555-8e9d67d53dbf",
    "mediaKey": "0909822d-2a22-41d9-931a-1d32534c1d6e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact Us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <projectsHeadline>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </projectsHeadline>
    <projectsTitle>
      <Value><![CDATA[Recent Projects]]></Value>
    </projectsTitle>
    <servicesHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </servicesHeadline>
    <servicesTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </servicesTitle>
    <successBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "2a68e1ac-0a11-42af-a8a2-e7cd0c377140",
    "mediaKey": "9158071e-b766-4a5e-a808-e10c7a5e924d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successBackgroundImage>
    <successForefrontImage>
      <Value><![CDATA[[
  {
    "key": "533dd09c-f6a8-43e3-8a5d-ca6df95801e4",
    "mediaKey": "3e28e724-333d-45dc-a932-cc17c36aa800",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successForefrontImage>
    <successHeadline>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successHeadline>
    <successTitle>
      <Value><![CDATA[Success Story]]></Value>
    </successTitle>
    <trustedBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "e3bf2189-bbf2-4c58-8afe-26d79d617e4b",
    "mediaKey": "a6fa904a-adbc-4493-8923-3a5a3f85f75b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedBackgroundImage>
    <trustedButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </trustedButtonText>
    <trustedDescription>
      <Value><![CDATA[4,000+ clients]]></Value>
    </trustedDescription>
    <trustedForefrontImage>
      <Value><![CDATA[[
  {
    "key": "73aca8b5-5921-4701-9bdf-af84459900d4",
    "mediaKey": "3188d4b0-caf2-49f5-981f-be348e6bb623",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedForefrontImage>
    <trustedText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsan porttitor arcu, ac tincidunt lectus tincidunt sed.]]></Value>
    </trustedText>
    <trustedTitle>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </trustedTitle>
  </Properties>
</Content>