<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a405815-8931-48bb-b3bd-7154fff24847" Alias="Projects" Level="2">
  <Info>
    <Parent Key="e1beedaf-3687-44a7-b068-29c31438e66e">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPage</ContentType>
    <CreateDate>2024-09-23T16:24:06</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="723e2754-c933-46bc-918c-3ccd58a27bfe">projectsPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>