<?xml version="1.0" encoding="utf-8"?>
<Content Key="00012f47-6e81-4383-ab88-d1ce5c893e3a" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-24T10:43:59</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhone>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "6ba7f439-8cd7-4b29-9b43-ffe5e6cd6656",
    "mediaKey": "3b8d157c-4702-433e-8d63-217fd9a01a77",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions For You]]></Value>
    </siteTagline>
  </Properties>
</Content>