<?xml version="1.0" encoding="utf-8"?>
<Content Key="42077313-fb10-4440-ab02-0097e6417b20" Alias="Story1" Level="2">
  <Info>
    <Parent Key="00012f47-6e81-4383-ab88-d1ce5c893e3a">Settings</Parent>
    <Path>/Settings/Story1</Path>
    <Trashed>false</Trashed>
    <ContentType>stories</ContentType>
    <CreateDate>2024-09-24T14:01:03</CreateDate>
    <NodeName Default="Story1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <storiesNumbers>
      <Value><![CDATA[689]]></Value>
    </storiesNumbers>
    <storiesText>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </storiesText>
  </Properties>
</Content>