<?xml version="1.0" encoding="utf-8"?>
<Content Key="41908f85-1d0d-49de-a0cd-ac43bed0be24" Alias="Story2" Level="2">
  <Info>
    <Parent Key="00012f47-6e81-4383-ab88-d1ce5c893e3a">Settings</Parent>
    <Path>/Settings/Story2</Path>
    <Trashed>false</Trashed>
    <ContentType>stories</ContentType>
    <CreateDate>2024-09-24T14:01:33</CreateDate>
    <NodeName Default="Story2" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <storiesNumbers>
      <Value><![CDATA[370]]></Value>
    </storiesNumbers>
    <storiesText>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </storiesText>
  </Properties>
</Content>