<?xml version="1.0" encoding="utf-8"?>
<Content Key="48787e0f-a790-4df4-ad83-7ed79d9c6bed" Alias="Story3" Level="2">
  <Info>
    <Parent Key="00012f47-6e81-4383-ab88-d1ce5c893e3a">Settings</Parent>
    <Path>/Settings/Story3</Path>
    <Trashed>false</Trashed>
    <ContentType>stories</ContentType>
    <CreateDate>2024-09-24T14:02:08</CreateDate>
    <NodeName Default="Story3" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <storiesNumbers>
      <Value><![CDATA[125]]></Value>
    </storiesNumbers>
    <storiesText>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </storiesText>
  </Properties>
</Content>