<?xml version="1.0" encoding="utf-8"?>
<Content Key="87359b6c-e58b-4641-a528-7ba7ca7723fa" Alias="tags" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tags</Path>
    <Trashed>false</Trashed>
    <ContentType>tags</ContentType>
    <CreateDate>2024-09-30T10:28:47</CreateDate>
    <NodeName Default="tags" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <tagButton1>
      <Value><![CDATA[Report]]></Value>
    </tagButton1>
    <tagButton2>
      <Value><![CDATA[Business plans]]></Value>
    </tagButton2>
    <tagButton3>
      <Value><![CDATA[Insights]]></Value>
    </tagButton3>
    <tagButton4>
      <Value><![CDATA[Business]]></Value>
    </tagButton4>
    <tagButton5>
      <Value><![CDATA[App]]></Value>
    </tagButton5>
    <tagButton6>
      <Value><![CDATA[Project]]></Value>
    </tagButton6>
    <tagButton7>
      <Value><![CDATA[Finanace]]></Value>
    </tagButton7>
    <tagButton8>
      <Value><![CDATA[Pricing]]></Value>
    </tagButton8>
  </Properties>
</Content>