<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0454462-aa12-4fe6-8e3c-ff8cab03c33d" Alias="Tina" Level="3">
  <Info>
    <Parent Key="7ab933b1-2915-4907-9640-841675af2ac7">About</Parent>
    <Path>/OfficialWebsiteHome/About/Tina</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCards</ContentType>
    <CreateDate>2024-09-26T12:16:58</CreateDate>
    <NodeName Default="Tina" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertCardDescription>
      <Value><![CDATA[CEO & Founder At Onatrix]]></Value>
    </expertCardDescription>
    <expertCardImage>
      <Value><![CDATA[[
  {
    "key": "a71fad93-7353-4a6b-ae67-874a3864833d",
    "mediaKey": "6e990ef0-8d95-4ca3-8bcb-e45bc7964455",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertCardImage>
    <expertCardTitle>
      <Value><![CDATA[Tina Fox]]></Value>
    </expertCardTitle>
  </Properties>
</Content>