@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model.Name;
}

<section id="recent-projects">
	@Html.Raw(Model.Value("singlePageText"))
</section>

 @await Html.PartialAsync("Static/subFooter")