@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using contentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model.Name;
}

<section id="risk-management">
	@Html.Raw(Model.Value("singlePageText"))
</section>

 @await Html.PartialAsync("Static/subFooter")

