<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4380c0e-76e0-48c5-9b23-06194d7d971c" Alias="Dot-project.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/DotProjectsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T10:01:49</CreateDate>
    <NodeName Default="Dot-project.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5syjufx1/dot-project.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>