<?xml version="1.0" encoding="utf-8"?>
<Media Key="650563e9-2460-412c-941e-648d05af2702" Alias="founder.svg" Level="2">
  <Info>
    <Parent Key="58939d9c-a816-4707-be2c-9ed53ba68b9e">Team Members</Parent>
    <Path>/TeamMembers/foundersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T09:58:55</CreateDate>
    <NodeName Default="founder.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dppkpb11/founder.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>