<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d9d6f80-02bd-4670-969c-0de304be4ebc" Alias="gray.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/graysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T09:40:30</CreateDate>
    <NodeName Default="gray.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oljd5p3g/gray.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>