<?xml version="1.0" encoding="utf-8"?>
<Media Key="b785995c-1a3e-42db-979e-ead0ce0cb5de" Alias="Hero Slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-19T11:08:33</CreateDate>
    <NodeName Default="Hero Slider" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>