<?xml version="1.0" encoding="utf-8"?>
<Media Key="0909822d-2a22-41d9-931a-1d32534c1d6e" Alias="hero-slider.svg" Level="2">
  <Info>
    <Parent Key="b785995c-1a3e-42db-979e-ead0ce0cb5de">Hero Slider</Parent>
    <Path>/HeroSlider/heroSlidersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T11:14:38</CreateDate>
    <NodeName Default="hero-slider.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/125lx0zz/hero-slider.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>