<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c4ed262-2e1b-4280-a67a-08260ee9c6e8" Alias="kevinBig.svg" Level="2">
  <Info>
    <Parent Key="58939d9c-a816-4707-be2c-9ed53ba68b9e">Team Members</Parent>
    <Path>/TeamMembers/kevinBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T12:02:26</CreateDate>
    <NodeName Default="kevinBig.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sbxpztqa/kevinbig.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>