<?xml version="1.0" encoding="utf-8"?>
<Media Key="20ef8f73-ebae-423f-b44b-3c71df068ff5" Alias="map.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T12:21:18</CreateDate>
    <NodeName Default="map.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qeze1qvv/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>