<?xml version="1.0" encoding="utf-8"?>
<Media Key="8317ba78-5dc8-4cf0-981f-362e673a46a8" Alias="Miscellaneous" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Miscellaneous</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-19T11:01:04</CreateDate>
    <NodeName Default="Miscellaneous" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>