<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b8d157c-4702-433e-8d63-217fd9a01a77" Alias="Onatrix.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/Onatrixsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T11:11:05</CreateDate>
    <NodeName Default="Onatrix.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r0uc5wiz/onatrix.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>