<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddf53cd4-dc63-4156-a4f3-40aeca76eb51" Alias="project-bg-person.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/projectBgPersonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T10:02:13</CreateDate>
    <NodeName Default="project-bg-person.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e0afop1y/project-bg-person.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>