<?xml version="1.0" encoding="utf-8"?>
<Media Key="93f2361d-3680-425d-b867-0352554c2bb2" Alias="projectsmall1.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/projectsmall1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:40:57</CreateDate>
    <NodeName Default="projectsmall1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/34ffa2m1/projectsmall1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>