<?xml version="1.0" encoding="utf-8"?>
<Media Key="465f0e4f-9a6a-4452-b825-89f16981e007" Alias="project1.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/project1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:40:33</CreateDate>
    <NodeName Default="project1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xwzp1jdr/project1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>