<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b370a62-8167-4c9e-b3df-a64200e87a70" Alias="projectsmall2.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/projectsmall2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:40:58</CreateDate>
    <NodeName Default="projectsmall2.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sc1jl0l2/projectsmall2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>