<?xml version="1.0" encoding="utf-8"?>
<Media Key="890ff574-fa01-4e16-94f2-3307fd27120c" Alias="project4.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/project4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:40:39</CreateDate>
    <NodeName Default="project4.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qzek00y0/project4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>