<?xml version="1.0" encoding="utf-8"?>
<Media Key="78a6b781-aca2-4d06-8e8a-0627d8201cd0" Alias="project2.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/project2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:40:34</CreateDate>
    <NodeName Default="project2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/omfajgvz/project2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>