<?xml version="1.0" encoding="utf-8"?>
<Media Key="111a3664-b9d7-4ccb-9d9a-20841296137c" Alias="report-stairs.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/reportStairssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T09:39:19</CreateDate>
    <NodeName Default="report-stairs.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s0flr24m/report-stairs.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>