<?xml version="1.0" encoding="utf-8"?>
<Media Key="55192027-bd6c-44e0-83f4-0052a0da2e02" Alias="report-table.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/reportTablesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T09:39:05</CreateDate>
    <NodeName Default="report-table.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0wolxn1x/report-table.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>