<?xml version="1.0" encoding="utf-8"?>
<Media Key="79eba1f1-598d-400b-bfe1-72c34f2676af" Alias="report-3.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/report3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-27T09:39:35</CreateDate>
    <NodeName Default="report-3.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/amoetg2w/report-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>