<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c33cbaf-8420-47cc-a3af-efcd382b6ace" Alias="rightGlobe.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/rightGlobesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T14:48:02</CreateDate>
    <NodeName Default="rightGlobe.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lv1jdtr1/rightglobe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>