<?xml version="1.0" encoding="utf-8"?>
<Media Key="84dbf731-ae5f-4da0-b1f9-bd265f6f5bff" Alias="risk-about.svg" Level="2">
  <Info>
    <Parent Key="58939d9c-a816-4707-be2c-9ed53ba68b9e">Team Members</Parent>
    <Path>/TeamMembers/riskAboutsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:53:19</CreateDate>
    <NodeName Default="risk-about.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ynfhszse/risk-about.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>