<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5d0ab00-cdd0-4890-97c3-1824471f5c40" Alias="risk-big2.svg" Level="2">
  <Info>
    <Parent Key="58939d9c-a816-4707-be2c-9ed53ba68b9e">Team Members</Parent>
    <Path>/TeamMembers/riskBig2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:53:17</CreateDate>
    <NodeName Default="risk-big2.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ilher4l/risk-big2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>