<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8c612b8-ed48-49fb-8c36-7ab6f0b9a6c9" Alias="SC1.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/SC1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:41:20</CreateDate>
    <NodeName Default="SC1.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jkxhicst/sc1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>