<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3064b7e-1c5c-487f-b9da-e2128b202952" Alias="SC2.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/SC2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:41:21</CreateDate>
    <NodeName Default="SC2.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rt1kiekh/sc2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>