<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b284bdc-5961-4f19-b91d-4bdc00c9de4e" Alias="SC6.svg" Level="2">
  <Info>
    <Parent Key="a70879fa-479d-4d4d-9951-e2926b2cf487">Services</Parent>
    <Path>/Services/SC6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:41:24</CreateDate>
    <NodeName Default="SC6.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f11ivcl0/sc6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>