<?xml version="1.0" encoding="utf-8"?>
<Media Key="daf1aadd-5780-4f7b-bbf6-095a9bb3b57a" Alias="signature-tina.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/signatureTinasvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T11:12:42</CreateDate>
    <NodeName Default="signature-tina.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f2lfgoe1/signature-tina.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>