<?xml version="1.0" encoding="utf-8"?>
<Media Key="9158071e-b766-4a5e-a808-e10c7a5e924d" Alias="SuccessDot.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/SuccessDotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T18:33:07</CreateDate>
    <NodeName Default="SuccessDot.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3s3pu213/successdot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>