<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e28e724-333d-45dc-a932-cc17c36aa800" Alias="successPeople.svg" Level="2">
  <Info>
    <Parent Key="58939d9c-a816-4707-be2c-9ed53ba68b9e">Team Members</Parent>
    <Path>/TeamMembers/successPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:50:03</CreateDate>
    <NodeName Default="successPeople.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0znivxbg/successpeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>