<?xml version="1.0" encoding="utf-8"?>
<Media Key="79e66826-c354-4b0d-b13d-337a71288ed9" Alias="tag1.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/tag1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T09:33:15</CreateDate>
    <NodeName Default="tag1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0tkfjg0p/tag1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>