<?xml version="1.0" encoding="utf-8"?>
<Media Key="13123153-4829-40b9-bf12-bfbed211269b" Alias="tag2.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/tag2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T09:33:16</CreateDate>
    <NodeName Default="tag2.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ugglb2js/tag2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>