<?xml version="1.0" encoding="utf-8"?>
<Media Key="99a13334-1b70-4125-8646-5efd97ef4d00" Alias="tag3.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/tag3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T09:33:17</CreateDate>
    <NodeName Default="tag3.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y0hag41l/tag3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>