<?xml version="1.0" encoding="utf-8"?>
<Media Key="591d506a-0b11-4969-a8dd-bcee228d3d7d" Alias="tag4.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/tag4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T09:33:18</CreateDate>
    <NodeName Default="tag4.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tdwl5oyk/tag4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>