<?xml version="1.0" encoding="utf-8"?>
<Media Key="391d299e-6d0e-4341-8ec3-0382599ac2ff" Alias="tag5.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/tag5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T09:33:18</CreateDate>
    <NodeName Default="tag5.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nskl5wyv/tag5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>