<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9396201-220a-44b1-b0d6-d75933f67d8b" Alias="TM-3.svg" Level="2">
  <Info>
    <Parent Key="58939d9c-a816-4707-be2c-9ed53ba68b9e">Team Members</Parent>
    <Path>/TeamMembers/TM3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:41:47</CreateDate>
    <NodeName Default="TM-3.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4ppjwkyr/tm-3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>