<?xml version="1.0" encoding="utf-8"?>
<Media Key="0246960e-ab69-45c5-9ae7-891396ec70e7" Alias="TM-6.svg" Level="2">
  <Info>
    <Parent Key="58939d9c-a816-4707-be2c-9ed53ba68b9e">Team Members</Parent>
    <Path>/TeamMembers/TM6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:41:50</CreateDate>
    <NodeName Default="TM-6.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5qvpjyds/tm-6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>