<?xml version="1.0" encoding="utf-8"?>
<Media Key="82e31873-9f8d-46ed-be53-4d57afbe8749" Alias="TM-7.svg" Level="2">
  <Info>
    <Parent Key="58939d9c-a816-4707-be2c-9ed53ba68b9e">Team Members</Parent>
    <Path>/TeamMembers/TM7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:45:56</CreateDate>
    <NodeName Default="TM-7.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qgsfcyew/tm-7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>