<?xml version="1.0" encoding="utf-8"?>
<Media Key="3188d4b0-caf2-49f5-981f-be348e6bb623" Alias="trustedPeople.svg" Level="2">
  <Info>
    <Parent Key="58939d9c-a816-4707-be2c-9ed53ba68b9e">Team Members</Parent>
    <Path>/TeamMembers/trustedPeoplesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T12:45:55</CreateDate>
    <NodeName Default="trustedPeople.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ijudvu5j/trustedpeople.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>