<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6fa904a-adbc-4493-8923-3a5a3f85f75b" Alias="TrustedDot.svg" Level="2">
  <Info>
    <Parent Key="8317ba78-5dc8-4cf0-981f-362e673a46a8">Miscellaneous</Parent>
    <Path>/Miscellaneous/TrustedDotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-23T17:57:43</CreateDate>
    <NodeName Default="TrustedDot.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xawfqrfh/trusteddot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>