<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0940d8ee-48f0-4d4a-8a83-2c968e7a5ae6" Alias="Home Page - Services - Service Card" Level="1">
  <Info>
    <Name>Home Page - Services - Service Card</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d48fd082-0e7f-461c-968b-0668e0dcc483"
    }
  ]
}]]></Config>
</DataType>