<?xml version="1.0" encoding="utf-8"?>
<DataType Key="452e70ab-5d8a-4051-a472-d33afb10b6f6" Alias="Home Page - Services - Service Card - Content" Level="1">
  <Info>
    <Name>Home Page - Services - Service Card - Content</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "55f2fa84-4455-43b2-9681-6b977919cde9",
  "maxNumber": 0,
  "minNumber": 0,
  "showOpenButton": false
}]]></Config>
</DataType>