<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2ca5d364-3af5-479e-9736-1bcc0b8de9bf" Alias="Home Page - Services - Service Cards" Level="1">
  <Info>
    <Name>Home Page - Services - Service Cards</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "55f2fa84-4455-43b2-9681-6b977919cde9",
  "maxNumber": 0,
  "minNumber": 0
}]]></Config>
</DataType>