<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7219670c-a799-46f0-a96d-408d8336627b" Alias="Home Page - Services - Service Card - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Services - Service Card - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b754d4de-3452-4958-b4a9-3a1767955c21",
      "label": "Service Card - Our Services"
    }
  ],
  "validationLimit": {
    "min": 0
  }
}]]></Config>
</DataType>